//-------------------- Fonts --------------------//
$body-font: 'Rubik',
sans-serif;
$title-font: 'Rubik',
sans-serif;
//-------------------- Base Colors --------------------//
$primary-color: #0007ea;
$primary-color-hover: #0007ea;
$secondary-color: #6c757d;
$text-color: #4c4d4d;
$body-bg: #f5f5f5;
$wrapper-bg: #f1f5f6;
$title-color: #1e1d1c;